#start{
    margin-left:500px;
}
.jumboheader{
    text-align: center;
    
}
#options{
    margin-left:370px;
    
}

#remaining-time{
    text-align: center;
    
}
#question{
    text-align: center;
    
}
.jumbotron{
    margin-top:100px;
   background-color:burlywood;
   border-radius: 25px;
   height:350px;
}
body{
    background-image: url(https://external-preview.redd.it/NT4m3-Wh0tBCpanCv5dyEki42bFgKF02w39LGwO_mhQ.jpg?auto=webp&s=e0d00e6e65bff7f33f0e1c86ed535ca4580635c6);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#results{
    text-align: center;
   
}
.titleheader{
    font-size: 75px;
    color:white;
    margin-top:50px;
}